.backgroundhome {
    background-image: url("../../../src/images/njoya/enseigne.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 461px;
    opacity: 84%;
    display: flex;
    justify-content: center;
  }
/*le container de mes 3 IMG et texte */
  .c-img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw
  }

/*les  3 IMG */
  .c-img > img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 100rem;
    
/*le container entier avec mes 3 IMG*/
  }
  .c-sommaire-img {
    display: flex;
    justify-content: space-evenly;  
    gap: 20px;

   
  }
  
/*Styles  de la page d’accueil */
.home-title {
  color: #724908;
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-intro {
  color: #5e3C07;
  margin-bottom: 20%;
  width: 874%;
  height: 203%;
  text-align: center;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  max-width: 600px;      /* limite la largeur */
  margin: 0 auto;        /* centre le bloc */
  font-size: clamp(1rem, 2vw, 1.4rem); /* responsive */
  line-height: 1.5;      /* espacement des lignes */
  
  
  
}



  
  
  